// Font mixins
@mixin titleFont {
   font-family: $font-orbitron;
}

@mixin paragraphFont {
   font-family: $font-space-grotesk;
}


// Border
@mixin border-thick {
   border: 2px solid $color-green;
}

@mixin border-thin {
   border: 1px solid $color-green;
}


// Responsive Breakpoints mixins
@mixin small-desktop {
   @media only screen and (min-width: calc($screen-tablet + 1px)) and (max-width: $screen-small-desktop) {
      @content;
   }
}

@mixin tablet {
   @media only screen and (min-width: calc($screen-mobile + 1px)) and (max-width: $screen-tablet) {
      @content;
   }
}

@mixin mobile {
   @media only screen and (max-width: $screen-mobile) {
      @content;
   }
}