// Colors
$color-black: #000000;
$color-dark: #231F20;
$color-white: #FFFFFF;
$color-green: #00FFAF;
$color-grey: #9B999A;

// Border-radius
$border-radius: 10px;

// Fonts
$font-space-grotesk: 'Space Grotesk', sans-serif;
$font-orbitron: 'Orbitron', sans-serif;

// Breakpoints
$screen-small-desktop: 1200px;
$screen-tablet: 900px;
$screen-mobile: 768px;